{% extends "base.html" %}
{% load static %}

{% block title %}Password changed!{% endblock %}

{% block content %}
    
    <div class="row">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                    <h2 class="text-center mb-4">Пароль изменен!</h2>
                    <div class="alert alert-success" role="alert">
                        Вы успешно изменили свой пароль! Теперь вы можете перейти к логину.
                    </div>
                    <a href="{% url 'user:login' %}" class="btn btn-dark">Логин</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}